{% extends "root/base.html" %}

{% block header %}
    <h4>Project <a href="" id="project-name" data-type="text" data-url="{% url 'project:details' project.id %}">{{ project.name }}</a></h4>
{% endblock %}

{% block content %}

{% load tz %}

<table class="table table-hover cursor-default">
    <tr><td>Description</td><td>
        <a href="" id="project-description" data-type="textarea" data-rows="3" data-url="{% url 'project:details' project.id %}">{{ project.description }}</a>
    </td></tr>
</table>

{% endblock %}

{% block footer %}
    {% include "snippets/deleteObjectDialog.html" with object="Project"%}
{% endblock %}
