{% extends "root/base.html" %}

{% block header %}
    <h4>Money</h4>
    <button type="button" class="btn btn-sm right" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-menu-left white"></span>
    </button>
{% endblock %}

{% block content %}

{% load tz %}
    <h4>Spendings</h4>
    <table class="table cursor-default">
        {% for payment in payments %}
            <tr>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.category }}</td>
                <td>{{ payment.spent }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block footer %}
    <form method="post" class="form-inline pull-left">
        <input type="number" class="form-control" name="amount" placeholder="Sum" required>
        <select name="category" class="form-control">
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input class="form-control" type="date" name="date" value="{{ today }}" required>
        <button type="submit" class="btn btn-sm">
            <span class="glyphicon glyphicon-plus white"></span>
        </button>
    </form>
    {% include "snippets/pagination.html" %}
{% endblock %}
