{% extends "root/base.html" %}

{% block header %}
    <h4>Money</h4>
    <button type="button" class="btn btn-sm right" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-menu-left white"></span>
    </button>
{% endblock %}

{% block content %}

{% load tz %}
    <h4>Spendings</h4>
    <table class="table cursor-default">
        {% for pdate in dates %}
            <tr>
                <td class="date-column">{{ pdate.spent | date:"Y-m-d" }}</td>
                <td class="amount-column">{{ pdate.day_sum }}</td>
                <td>
                    {% for payment in pdate.payments %}
                        <span id="{{ payment.id }}" class="badge delete-payment" data-toggle="modal" data-target="#deletePayment">
                            {{ payment.category }} | <span class="number">{{ payment.amount }}</span>
                        </span>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block footer %}
    <form method="post" class="form-inline pull-left">
        <input type="number" class="form-control" name="amount" placeholder="Sum" required>
        <select name="category" class="form-control">
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input class="form-control" type="date" name="date" value="{{ today }}" required>
        <button type="submit" class="btn btn-sm">
            <span class="glyphicon glyphicon-plus white"></span>
        </button>
    </form>
    {% include "snippets/pagination.html" %}
{% endblock %}
