{% extends "root/base.html" %}

{% block menu %}

<div class="panel panel-sidebar">
    <ul class="list-group">
        <a href="{% url 'money:home' %}" class="list-group-item">
            <h5>Spent</h5>
        </a>
        <a href="{% url 'money:report' %}" class="list-group-item">
            <h5>Report</h5>
        </a>
        <a href="{% url 'money:graph' %}" class="list-group-item">
            <h5>Graph</h5>
        </a>
    </ul>
</div>

{% endblock %}

{% block header %}
    <h4>Money</h4>
    <button type="button" class="btn btn-sm right" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-menu-left white"></span>
    </button>
{% endblock %}

{% block content %}

{% load tz %}
    <h4>Report</h4>
    <table class="table cursor-default">
        <tr>
          <th>Month</th>
          <th>Sum</th>
          {% for category in categories %}
            <th><span class="header-tooltip" data-toggle="tooltip" title="{{ category.name }} ({{ category.description }})">{{ category.label }}</span></th>
          {% endfor %}
        </tr>
        {% for month in months %}
            <tr>
                <td class="month-column">{{ month.month }} {{ month.year }}</td>
                <td class="sum-column">
                    <span class="label label-info">{{ month.month_total_pln }} PLN</span>
                    <span class="label label-warning">{{ month.month_total_eur }} EUR</span>
                </td>
                {% for payment in month.payments %}
                  <td>
                    <div>{{ payment.pln }}</div>
                    <div>{{ payment.eur }}</div>
                  </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block footer %}
    {% include "snippets/pagination.html" %}
{% endblock %}
