<div class="modal fade" id="deletePayment">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Payment</h4>
                </div>
                <div class="modal-body">
                    <input class="hidden" name="_method" value="delete">
                    <input class="hidden" name="payment_id" value="">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button class="btn">Delete</button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>