{% extends "root/dialog_base.html" %}

{% block dialog_body %}

    {% if dlg_id == "addPost" %}

        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <label for="post" class="control-label">Post</label>
            <textarea rows="5" class="form-control" name="body" required></textarea>
        </div>

    {% elif dlg_id == "editPost" %}

        <input class="hidden" name="_method" value="put">
        <input class="hidden" name="post_id" value="">
        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <input type="text" class="form-control post-title" name="title" required>
        </div>
        <div class="form-group">
            <label for="post" class="control-label">Post</label>
            <textarea rows="5" class="form-control post-body" name="body" required></textarea>
        </div>

    {% elif dlg_id == "deletePost" %}

        <input class="hidden" name="_method" value="delete">
        <input class="hidden" name="post_id" value="">
        Are you sure?

    {% elif dlg_id == "deleteTask" %}

        <input class="hidden" name="_method" value="delete">
        Are you sure you want to remove Task?

    {% elif dlg_id == "deleteArea" %}

        <input class="hidden" name="_method" value="delete">
        Are you sure you want to remove Area?

    {% elif dlg_id == "deleteProject" %}

        <input class="hidden" name="_method" value="delete">
        Are you sure you want to remove Project?

    {% elif dlg_id == "addWorkLog" %}

        <div class="form-group">
            <label>WorkLog</label>
            <select class="form-control" name="worklog">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Comment</label>
            <textarea rows="5" class="form-control" name="comment" required></textarea>
        </div>

    {% endif %}

{% endblock %}