{% load url_helpers %}

<nav class="top right">
    <ul class="pagination pagination-sm pull-right">

        {% if prev_page %}
            <li><a href="?{% set_url_option request 'page' prev_page %}"><span class="glyphicon glyphicon-step-backward"></span></a></li>
        {% else %}
            <li class="disabled"><a><span class="glyphicon glyphicon-step-backward"></span></a></li>
        {% endif %}

        {% for page_number in page_numbers %}
            {% if page_number == active_page %}
                <li class="active"><a href="?{% set_url_option request 'page' page_number %}">{{ page_number }}</a></li>
            {% else %}
                <li><a href="?{% set_url_option request 'page' page_number %}">{{ page_number }}</a></li>
            {% endif %}
        {% endfor %}

        {% if next_page %}
            <li><a href="?{% set_url_option request 'page' next_page %}"><span class="glyphicon glyphicon-step-forward"></span></a></li>
        {% else %}
            <li class="disabled"><a><span class="glyphicon glyphicon-step-forward"></span></a></li>
        {% endif %}

    </ul>
</nav>