/* Space for toolbar */

body {
    padding-top: 70px;
}

/* Ajust dropdown menu width to the button*/

.dropdown-menu.pull-left {
    left: 0px;
}

/* Pagination */

nav.top ul.pagination {
    margin-top: 0px;
    margin-bottom: 10px;
}