{% extends "root/base.html" %}

{% block header %}
    <h4>Blog</h4>
    <button type="button" class="btn btn-sm right" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-menu-left white"></span>
    </button>
{% endblock %}

{% block content %}

{% load tz %}

<div class="panel-group black" id="blog-accordion">
    {% for post in posts %}
        <div class="panel panel-blog">
            <div class="panel-heading">
                <h5 class="panel-title cursor-default">
                    <a data-toggle="collapse" data-parent="#blog-accordion" href="#panel-title-{{ post.id }}" post-id={{ post.id }}>
                        <small><dfn>{{ post.created | localtime | date:"D, j M Y H:i" }}</dfn></small>
                        <span class="post-title">{{ post.title }}</span>
                    </a>
                    <span class="pull-right">
                        <dfn>{{ post.user.first_name.0 }}{{ post.user.last_name.0 }}</dfn>
                    </span>
                </h5>
            </div>
            <div id="panel-title-{{ post.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <span class="post-body">{{ post.body | linebreaksbr }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block footer %}
    <div class="form-group pull-left">
        {% include "snippets/addPostDialog.html" %}
        {% include "snippets/editPostDialog.html" %}
        {% include "snippets/deletePostDialog.html" %}
    </div>
    {% include "snippets/pagination.html" %}
{% endblock %}
