{% extends "personal/header.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <!-- Panel -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11">
                                {{ post.date|date:"Y-m-d H:i" }} || {{ post.title }}
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#collapseTarget" aria-expanded="false" aria-controls="collapseTarget">
                                  Show
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body collapse" id="collapseTarget">
                      {{ post.body|linebreaks }}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
