/* Body */

body {
    /* Some space for toolbar */
    padding-top: 50px;
    background-color: #CCCCCC;
}

/* Sidebar */

#sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
}

#content {
    width: calc(100% - 200px);
    margin-left: 200px;
}

/* Topbar dropdown */

.dropdown-menu.pull-left {
    /* Ajust dropdown menu width to the button */
    left: 0px;
}

button {
    background-color: #009688;
}

/* Text */
.cursor-default {
    cursor: default;
}

/* colors */

.white {
    color: white;
}

/* Labels */

span.label {
    float: right;
    margin-right: 2px;
    margin-left: 2px;
    width: 70px;
}

a.list-group-item > h5   {
    margin-top: 0px;
    margin-bottom: 0px;
}
