/* Body */

body {
    /* Some space for toolbar */
    padding-top: 50px;
    background-color: #f1e5b2;
    overflow: hidden;
}

/* Sidebar */

#sidebar {
    position: fixed;
    width: 250px;
    height: calc(100% - 50px);
    background-color: #f3d17a;
}

#content {
    margin-left: 250px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

/* Topbar dropdown */

.dropdown-menu.pull-left {
    /* Ajust dropdown menu width to the button */
    left: 0px;
}

button {
    background-color: #009688;
}

/* Text */
.cursor-default {
    cursor: default;
}

/* colors */

.white {
    color: white;
}

/* Labels */

span.label {
    float: right;
    margin-right: 2px;
    margin-left: 2px;
    width: 70px;
}

a.list-group-item > h5   {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Card */

.card {
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #080808;
    background-color: #f8f8f8;
}

.card-header,
.card-body,
.card-footer {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.card-header > h4,
.card-footer > h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-body,
.card-body {
    background-color: #f3d17a;
}

.card-body {
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #080808;
    display:block;
    height: calc(100vh - 170px);
}

.modal-header,
.modal-footer,
.card-footer,
.card-header {
    background-color: #b3a14a;
    color: white;
}

/* Sidebar collapse arrows */

div[data-toggle="collapse"] {
    position: relative;
}

div.menu[aria-expanded="false"]::before, div.menu[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

div.menu[aria-expanded="true"]::before {
    content: '\e260';
}

.pagination,
.form-group {
    margin: 0px;
}

.right {
    margin-left: auto;
}
