/* Body */

body {
    /* Some space for toolbar */
    padding-top: 50px;
    background-color: #fde19a;
}

/* Sidebar */

#sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #f3d17a;
}

#content {
    margin-left: 200px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

/* Topbar dropdown */

.dropdown-menu.pull-left {
    /* Ajust dropdown menu width to the button */
    left: 0px;
}

button {
    background-color: #009688;
}

/* Text */
.cursor-default {
    cursor: default;
}

/* colors */

.white {
    color: white;
}

/* Labels */

span.label {
    float: right;
    margin-right: 2px;
    margin-left: 2px;
    width: 70px;
}

a.list-group-item > h5   {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Card */

.card {
    margin: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #080808;
    background-color: #f8f8f8;
}

.card-header,
.card-body,
.card-footer {
    padding-right: 10px;
    padding-left: 10px;
}

.card-body {
    background-color: #f3d17a;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #080808;
    padding-top: 10px;
    padding-bottom: 10px;
}