/* Variables */

:root {
    --main-color: #6B6E70;
    --secondary-color: #474B4F;
    --body-color: #acbfd2;
    --panel-color: #bfccb3;
    --button-color: #809966;
    --link-color: #9cd1e2;
}

/* Body */

body {
    padding-top: 50px; /* some space for toolbar */
    background-color: var(--body-color);
    overflow: hidden;
}

/* Sidebar */

#sidebar {
    position: fixed;
    width: 250px;
    height: calc(100% - 50px);
    background-color: var(--secondary-color);
}

#content {
    margin-left: 250px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

/* Toolbar dropdown */

.dropdown-menu.pull-left {
    left: 0px; /* ajust dropdown menu width to the button */
}

/* Buttons */

button {
    background-color: var(--button-color);
}

/* Card and Dialog */

.card {
    margin: 10px;
}

.card-header,
.card-body,
.card-footer {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.card-header > h4,
.card-footer > h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-body,
.card-body {
    background-color: var(--main-color);
}

.card-body {
    border-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: var(--body-color);
    display:block;
    height: calc(100vh - 170px);
    color: white;
}

.modal-header,
.modal-footer,
.card-footer,
.card-header {
    background-color: var(--secondary-color);
    color: white;
}

.card-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Footer elements */

.pagination,
.form-group {
    margin: 0px;
}

.right {
    margin-left: auto;
}

/* Colors */

.white {
    color: white;
}

.black {
    color: black;
}

/* Labels */

span.label {
    float: right;
    margin-right: 2px;
    margin-left: 2px;
    width: 70px;
}

a.list-group-item > h5   {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Text */

.cursor-default {
    cursor: default;
}

input {
    color: black;
}

/* Panels */

.panel-heading,
.list-group-item {
    background-color: var(--panel-color);
    border-color: white;
}

/* Editable fields */

.editable-click, a.editable-click, a.editable-click:hover {
    border: none;
    color: var(--link-color);
}