/* Body */

body {
    /* Some space for toolbar */
    padding-top: 70px;
    background-color: #D1C4E9;
}

/* Sidebar dropdown */

.dropdown-menu.pull-left {
    /* Ajust dropdown menu width to the button */
    left: 0px;
}

button {
    background-color: #009688;
}

/* Pagination */

nav.top ul.pagination {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* Text */
.cursor-default {
    cursor: default;
}

/* colors */

.white {
    color: white;
}

/* Labels */

span.label {
    float: right;
    margin-right: 2px;
    margin-left: 2px;
    width: 70px;
}

a.list-group-item > h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}
