{% extends "root/base.html" %}

{% block content %}

{% load tz %}

<form method="post">
<table class="table table-hover cursor-default">
    <tr><td>Status</td><td>
        <a href="" id="task-status" data-type="select" data-source="{{ statuses_source }}"  data-value="{{ task.status.id }}" data-url="{% url 'todo:details' task.id %}">{{ task.status }}</a>
    </td></tr>
    <tr><td>Name</td><td>
        <a href="" id="task-name" data-type="text" data-url="{% url 'todo:details' task.id %}">{{ task.name }}</a>
    </td></tr>
    <tr><td>Description</td><td>
        <a href="" id="task-description" data-type="textarea" data-rows="3" data-url="{% url 'todo:details' task.id %}">{{ task.description }}</a>
    </td></tr>
    <tr><td>Area</td><td>
        <a href="" id="task-area" data-type="select" data-source="{{ areas_source }}" data-value="{{ task.area.id }}" data-url="{% url 'todo:details' task.id %}">{{ task.area }}</a>
    </td></tr>
    <tr><td>Project</td><td>
        <a href="" id="task-project" data-type="select" data-source="{{ projects_source }}" data-value="{{ task.project.id }}" data-url="{% url 'todo:details' task.id %}">{{ task.project }}</a>
    </td></tr>
    <tr><td>Estimation</td><td>{{ task.estimation }}</td></tr>
    <tr><td>Created</td><td>{{ task.created }}</td></tr>
    <tr><td>Updated</td><td>{{ task.updated }}</td></tr>
</table>
</form>

{% endblock %}
