{% extends "root/base.html" %}

{% block menu %}

<div class="panel-group">

    <div class="panel panel-info">
        <div href="#status-panel" data-toggle="collapse" class="panel-heading">
            <h5 class="panel-title cursor-default">Statuses</h5>
        </div>
        <div id="status-panel" class="panel-collapse collapse in">
            <ul class="list-group">
                {% for status in statuses %}
                <a href="?status={{ status.id }}" class="list-group-item"><h5>{{ status }}</h5></a></h5>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div href="#area-panel" data-toggle="collapse" class="panel-heading">
            <h5 class="panel-title cursor-default">Areas</h5>
        </div>
        <div id="area-panel" class="panel-collapse collapse in">
            <ul class="list-group">
                {% for area in areas %}
                <a href="?area={{ area.id }}" class="list-group-item"><h5>{{ area }}</h5></a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div href="#project-panel" data-toggle="collapse" class="panel-heading">
            <h5 class="panel-title cursor-default">Projects</h5>
        </div>
        <div id="project-panel" class="panel-collapse collapse in">
            <ul class="list-group">
                {% for project in projects %}
                <a href="?project={{ project.id }}" class="list-group-item"><h5>{{ project }}</h5></a>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block content %}

{% load tz %}

{% include "snippets/pagination.html" %}

<div class="form-group">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="todo-navigator" data-toggle="dropdown">
            Tasks <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{% url 'area:home' %}">Areas</a></li>
            <li><a href="{% url 'project:home' %}">Projects</a></li>
        </ul>
    </div>
</div>

<div class="list-group">
    {% for todo in todos %}
        <a href="{% url 'todo:details' todo.id %}" class="list-group-item list-group-item-info">
            <h5>
                {{ todo }}
                <span class="label label-info">{{ todo.project }}</span>
                <span class="label label-success">{{ todo.area }}</span>
                <span class="label label-primary">{{ todo.status }}</span>
            </h5>
        </a>
    {% endfor %}
</div>

<form method="post" class="form-inline">
    <input class="form-control" name="name" placeholder="New Task" required>
    <button type="submit" class="btn btn-sm">
        <span class="glyphicon glyphicon-plus white"></span>
    </button>
</form>

{% endblock %}
