{% extends "root/base.html" %}

{% block header %}
    <h4>Dashboard</h4>
    <button type="button" class="btn btn-sm right" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-menu-left white"></span>
    </button>
{% endblock %}

{% block content %}
<div>
    <div class="row container-fluid quick-access-row">
        <div class="col-sm-4">
            <div class="quick-access container-fluid">
            <h4>Blog</h4>
                <hr/>
                <ul>
                    <li>Posts: {{ blogStats.count }}</li>
                    <li>Latest: {{ blogStats.latest }}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="quick-access container-fluid">
            <h4>Todo<br></h4>
                <hr/>
                <ul>
                    <li>Current payload: {{ todoStats.payLoad }}h</li>
                    <li>Logged last week: {{ todoStats.lastWeekLogged }}h</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="quick-access container-fluid">
            <h4>Money</h4>
                <hr/>
                <ul>
                    <li>TBD</li>
                    <li>TBD</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <h4>Dashboard</h4>
{% endblock %}
