{% extends "root/base.html" %}

{% block header %}
    <h4>Dashboard</h4>
    <button type="button" class="btn btn-sm right" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-menu-left white"></span>
    </button>
{% endblock %}

{% block content %}
<div>
    <div class="row container-fluid quick-access-row">
        <div class="col-sm-4">
            <div class="quick-access container-fluid">
            <h4>Blog</h4><hr/>
            Posts: 1000<br>
            Latest post: 2 days ago<br>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="quick-access container-fluid">
            <h4>Todo<br></h4><hr/>
            Current payload: 5d<br>
            Logged last week: 3d<br>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="quick-access container-fluid">
            <h4>Money</h4><hr/>
            TBD<br>
            TBD<br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <h4>Dashboard</h4>
{% endblock %}
